<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Partida Iniciada</h2>

    <div class="Mapa">

    </div>


    <!-- Zona del usuario, con todas las habilidades para usar, zona de mercado, -->
    <div>
        <p>Habilidades del Usuario</p>
        <p>**********************</p>

        <p>Mercado ----- Tienes {{chines}}</p> 
        <input type="button" value="Mercado">

    </div>
    <div>
        
    </div>
</body>

</html>