<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>--- Online ---</p>
        <input type="button" value="Unirse a un grupo"><br>
        <input type="button" value="Fundar un grupo">

        <p>--- Personaje ---</p>
        <input type="button" value="Cargar personaje"><br>
        <input type="button" value="Crear personaje"><br>
        <input type="button" value="Eliminar personaje">
    </div>
</body>
</html>