<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="inicio">
        <div class="overlay">
            <div class="contenido">
                <h1 class="titulo">Inicio de Sesión</h1>

                <form>
                    <div class="campo">
                        <label for="usuario">Usuario</label>
                        <input type="text" id="usuario" name="usuario" [(ngModel)]="usuario" required>
                    </div>

                    <div class="campo">
                        <label for="contrasena">Contraseña</label>
                        <input type="password" id="contrasena" name="contrasena" [(ngModel)]="contrasena" required>
                    </div>

                    <input type="button" class="boton" value="Entrar al reino" (click)="iniciarSesion()">
                </form>

                <p class="registro">
                    ¿No tienes cuenta? <a href="registro">Regístrate aquí</a>
                </p>
            </div>
        </div>
    </div>

</body>

</html>