<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div>
        <p>Codigo de invitacion: {{codigo}}</p>
    </div>

    <!-- Sala de personas con los datos de cada personas en una card.-->
    <div>
        <div>
         <p>Nombre: </p>
         <p>Raza: </p><p>Descripcion</p><p>Nivel</p>    
        </div>

        <input type="button" value="Comenzar aventura" (click)="comenzar()">
    </div>

</body>

</html>