<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>--- Online ---</p>
        <input type="button" value="Unirse a un grupo" (click)="crearGrupo()"><br>
        <input type="button" value="Fundar un grupo" (click)="unirseGrupo()">

        <p>--- Personaje ---</p>
        <input type="button" value="Cargar personaje" (click)="cargarPersonaje()"><br>
        <input type="button" value="Crear personaje" (click)="crearPersonaje()"><br>
    </div>

    <!--Tarjeta que mostara si el usuario a elegido un personaje, en el caso de que no, se iniciara como DM-->
    <div >
        <p>Personaje Seleccionado: {{pSeleccionado}} </p>
        <input type="button" value="Cancelar" (click)="cancelar()">
    </div>
</body>
</html>