@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  background-color: #0a0a0a;
  overflow: hidden;
}

.inicio {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
 
}

.inicio::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.5), rgba(0, 0, 0, 0.95));
  z-index: 0;
}

.overlay {
  position: relative;
  z-index: 1;
  background: rgba(30, 20, 10, 0.6);
  padding: 3rem 4rem;
  border: 2px solid #8a6f3d;
  border-radius: 0.8rem;
  box-shadow: 0 0 40px rgba(200, 150, 50, 0.25);
  text-align: center;
  transition: all 0.3s ease;
  max-width: 90%; 
}

.overlay:hover {
  background: rgba(30, 20, 10, 0.7);
  transform: scale(1.02);
  box-shadow: 0 0 60px rgba(200, 150, 50, 0.4);
}

.titulo {
  font-family: 'Uncial Antiqua', cursive;
  color: #e8d9a6;
   font-size: 3rem;
  text-shadow: 0 0 10px #c6a84b, 0 0 20px #7a6024;
}

.subtexto {
  font-family: 'Uncial Antiqua', cursive;
  color: #c8b87a;
  font-size: 1rem;
  margin-top: 1rem;
  opacity: 0.8;
}

/* --- Media Queries para pantallas pequeñas --- */
@media (max-width: 768px) {
  .titulo {
    font-size: 2.2rem;
  }

  .overlay {
    padding: 2rem 2rem;
  }

  .subtexto {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 1.8rem;
  }

  .subtexto {
    font-size: 0.8rem;
  }

  .overlay {
    padding: 1.5rem 1.5rem;
  }
}